flows.json
[
    {
        "id": "e976ef3354d1d575",
        "type": "tab",
        "label": "prueba mqtt",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4cc0620e991c8ee2",
        "type": "mqtt in",
        "z": "e976ef3354d1d575",
        "name": "",
        "topic": "tacho1/distancia",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "851592e9ed59b8d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "aa01b68ab955e046",
                "e0b5173e40210e7f"
            ]
        ]
    },
    {
        "id": "8ed98209782172e1",
        "type": "ui_chart",
        "z": "e976ef3354d1d575",
        "name": "",
        "group": "f03723e926e93156",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Llenado",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "84",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "e4c48b4bc901fe3f",
        "type": "ui_chart",
        "z": "e976ef3354d1d575",
        "name": "",
        "group": "3b3f9798139c0ca7",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Llenado",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "84",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "0e6ad6b8c9c50389",
        "type": "ui_chart",
        "z": "e976ef3354d1d575",
        "name": "",
        "group": "284acb4591012c1c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Llenado",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "84",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 460,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "2777e9d3740003e7",
        "type": "mqtt in",
        "z": "e976ef3354d1d575",
        "name": "",
        "topic": "tacho2/distancia",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "851592e9ed59b8d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 500,
        "wires": [
            [
                "6ca4314d3d4c189a",
                "2f048c9b8609b64d"
            ]
        ]
    },
    {
        "id": "5575bfe25d6fb1f9",
        "type": "mqtt in",
        "z": "e976ef3354d1d575",
        "name": "",
        "topic": "tacho3/distancia",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "851592e9ed59b8d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 960,
        "wires": [
            [
                "6ba5aa337179b570",
                "2a3628132ed71257"
            ]
        ]
    },
    {
        "id": "e3b002ff4b816fea",
        "type": "mqtt in",
        "z": "e976ef3354d1d575",
        "name": "",
        "topic": "tacho1/peso",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "851592e9ed59b8d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "e0b5173e40210e7f",
                "149c4b3e38a7633b"
            ]
        ]
    },
    {
        "id": "28e214b005ac672c",
        "type": "mqtt in",
        "z": "e976ef3354d1d575",
        "name": "",
        "topic": "tacho2/peso",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "851592e9ed59b8d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 580,
        "wires": [
            [
                "4d25373f69d21d9a",
                "2f048c9b8609b64d"
            ]
        ]
    },
    {
        "id": "c226c4f8bf69d938",
        "type": "mqtt in",
        "z": "e976ef3354d1d575",
        "name": "",
        "topic": "tacho3/peso",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "851592e9ed59b8d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "7f999eec08fde83b",
                "2a3628132ed71257"
            ]
        ]
    },
    {
        "id": "149c4b3e38a7633b",
        "type": "ui_gauge",
        "z": "e976ef3354d1d575",
        "name": "",
        "group": "f03723e926e93156",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Peso",
        "label": "kg",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "aa01b68ab955e046",
        "type": "range",
        "z": "e976ef3354d1d575",
        "minin": "84",
        "maxin": "0",
        "minout": "0",
        "maxout": "84",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "8ed98209782172e1"
            ]
        ]
    },
    {
        "id": "6ca4314d3d4c189a",
        "type": "range",
        "z": "e976ef3354d1d575",
        "minin": "84",
        "maxin": "0",
        "minout": "0",
        "maxout": "84",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 290,
        "y": 500,
        "wires": [
            [
                "e4c48b4bc901fe3f"
            ]
        ]
    },
    {
        "id": "6ba5aa337179b570",
        "type": "range",
        "z": "e976ef3354d1d575",
        "minin": "84",
        "maxin": "0",
        "minout": "0",
        "maxout": "84",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 290,
        "y": 960,
        "wires": [
            [
                "0e6ad6b8c9c50389"
            ]
        ]
    },
    {
        "id": "7f999eec08fde83b",
        "type": "ui_gauge",
        "z": "e976ef3354d1d575",
        "name": "",
        "group": "284acb4591012c1c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Peso",
        "label": "kg",
        "format": "{{value}}",
        "min": "0",
        "max": "84",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 1040,
        "wires": []
    },
    {
        "id": "e0b5173e40210e7f",
        "type": "join",
        "z": "e976ef3354d1d575",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 270,
        "y": 280,
        "wires": [
            [
                "8093a225f9d8f42e",
                "cf2d9fcbc36cc1a7"
            ]
        ]
    },
    {
        "id": "965ea743b4e0fc1a",
        "type": "debug",
        "z": "e976ef3354d1d575",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "8093a225f9d8f42e",
        "type": "change",
        "z": "e976ef3354d1d575",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "tacho1",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload[\"tacho1/distancia\"]",
                "pt": "msg",
                "to": "distancia",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload[\"tacho1/peso\"]",
                "pt": "msg",
                "to": "peso",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "_msgid",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "qos",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retain",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 280,
        "wires": [
            [
                "965ea743b4e0fc1a",
                "dfcc777f8a1edb77"
            ]
        ]
    },
    {
        "id": "5c2686bc5dcea804",
        "type": "mongodb out",
        "z": "e976ef3354d1d575",
        "mongodb": "55c8524c95b88225",
        "name": "",
        "collection": "tacho1",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 900,
        "y": 280,
        "wires": []
    },
    {
        "id": "4d25373f69d21d9a",
        "type": "ui_gauge",
        "z": "e976ef3354d1d575",
        "name": "",
        "group": "3b3f9798139c0ca7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Peso",
        "label": "kg",
        "format": "{{value}}",
        "min": "0",
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 580,
        "wires": []
    },
    {
        "id": "cf2d9fcbc36cc1a7",
        "type": "debug",
        "z": "e976ef3354d1d575",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 340,
        "wires": []
    },
    {
        "id": "dfcc777f8a1edb77",
        "type": "function",
        "z": "e976ef3354d1d575",
        "name": "fechaISO",
        "func": "msg.timestamp = new Date(msg.timestamp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 280,
        "wires": [
            [
                "b7e0f4cee1b92c7e",
                "5c2686bc5dcea804"
            ]
        ]
    },
    {
        "id": "b7e0f4cee1b92c7e",
        "type": "debug",
        "z": "e976ef3354d1d575",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 360,
        "wires": []
    },
    {
        "id": "2f048c9b8609b64d",
        "type": "join",
        "z": "e976ef3354d1d575",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "b187affb17d87b01",
                "077f0d67b7d2d6b0"
            ]
        ]
    },
    {
        "id": "3be8a6b852b604c9",
        "type": "debug",
        "z": "e976ef3354d1d575",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 600,
        "wires": []
    },
    {
        "id": "b187affb17d87b01",
        "type": "change",
        "z": "e976ef3354d1d575",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "tacho2",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload[\"tacho2/distancia\"]",
                "pt": "msg",
                "to": "distancia",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload[\"tacho2/peso\"]",
                "pt": "msg",
                "to": "peso",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "_msgid",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "qos",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retain",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 660,
        "wires": [
            [
                "3be8a6b852b604c9",
                "c647976485970e97"
            ]
        ]
    },
    {
        "id": "82ade91ff90567d7",
        "type": "mongodb out",
        "z": "e976ef3354d1d575",
        "mongodb": "55c8524c95b88225",
        "name": "",
        "collection": "tacho2",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 920,
        "y": 660,
        "wires": []
    },
    {
        "id": "077f0d67b7d2d6b0",
        "type": "debug",
        "z": "e976ef3354d1d575",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 720,
        "wires": []
    },
    {
        "id": "c647976485970e97",
        "type": "function",
        "z": "e976ef3354d1d575",
        "name": "fechaISO",
        "func": "msg.timestamp = new Date(msg.timestamp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 660,
        "wires": [
            [
                "a1b2e68b39d42c0a",
                "82ade91ff90567d7"
            ]
        ]
    },
    {
        "id": "a1b2e68b39d42c0a",
        "type": "debug",
        "z": "e976ef3354d1d575",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 740,
        "wires": []
    },
    {
        "id": "2a3628132ed71257",
        "type": "join",
        "z": "e976ef3354d1d575",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 290,
        "y": 1120,
        "wires": [
            [
                "05c14164f2c5a936",
                "e39594e55ec96011"
            ]
        ]
    },
    {
        "id": "1c1cb66d67f04e11",
        "type": "debug",
        "z": "e976ef3354d1d575",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1060,
        "wires": []
    },
    {
        "id": "05c14164f2c5a936",
        "type": "change",
        "z": "e976ef3354d1d575",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "tacho3",
                "tot": "str"
            },
            {
                "t": "move",
                "p": "payload[\"tacho3/distancia\"]",
                "pt": "msg",
                "to": "distancia",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload[\"tacho3/peso\"]",
                "pt": "msg",
                "to": "peso",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "_msgid",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "qos",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retain",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 1120,
        "wires": [
            [
                "1c1cb66d67f04e11",
                "d3b64c3b90ebb7fe"
            ]
        ]
    },
    {
        "id": "7236c8efec1c9030",
        "type": "mongodb out",
        "z": "e976ef3354d1d575",
        "mongodb": "55c8524c95b88225",
        "name": "",
        "collection": "tacho3",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 920,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e39594e55ec96011",
        "type": "debug",
        "z": "e976ef3354d1d575",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1180,
        "wires": []
    },
    {
        "id": "d3b64c3b90ebb7fe",
        "type": "function",
        "z": "e976ef3354d1d575",
        "name": "fechaISO",
        "func": "msg.timestamp = new Date(msg.timestamp);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 1120,
        "wires": [
            [
                "c0385de62efc18a5",
                "7236c8efec1c9030"
            ]
        ]
    },
    {
        "id": "c0385de62efc18a5",
        "type": "debug",
        "z": "e976ef3354d1d575",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1200,
        "wires": []
    },
    {
        "id": "851592e9ed59b8d3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.7",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f03723e926e93156",
        "type": "ui_group",
        "name": "Tacho 1",
        "tab": "8f540dd87179faaa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3b3f9798139c0ca7",
        "type": "ui_group",
        "name": "Tacho 2",
        "tab": "8f540dd87179faaa",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "284acb4591012c1c",
        "type": "ui_group",
        "name": "Tacho 3",
        "tab": "8f540dd87179faaa",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "55c8524c95b88225",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "medicionesDB",
        "name": ""
    },
    {
        "id": "8f540dd87179faaa",
        "type": "ui_tab",
        "name": "Tachos",
        "icon": "fa-dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
